.friend-info {
  width: 3rem;
  height: 100%;
  /* background-color: #05c1f6; */
  background-color: #14181d;
  color: white;
  font-size: x-small;
}

.friend-info img {
  height: 100%;
  width: 100%;
  border-radius: 50px;
}
.friend-info {
  margin-right: 2px;
}

.friend-info p:last-child p:first-child {
  margin-right: 3px;
}
