.jumbotron {
  background-image: url("https://a.ltrbxd.com/resized/sm/upload/j4/cm/kj/5m/raya-1200-1200-675-675-crop-000000.jpg?k=f94ca4c505");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  padding-bottom: 10px;
}

.welcome-texts {
  text-align: center;
  color: white;
  font-family: Lora, serif;
}
