.popular-members {
  position: relative;
  margin-top: 2rem;
  min-height: 5rem;
}

.popular-members::before {
  content: "Popular Members";
  color: white;
  position: absolute;
  top: -30px;
  left: 20px;
}
