.popular-members {
  position: relative;
  margin-top: 2rem;
  min-height: 5rem;
  background-color: #1c2228;
  border-radius: 10px;
}

.popular-members::before {
  content: "Popular Members";
  color: white;
  position: absolute;
  top: -30px;
  left: 20px;
}
