.popular-members {
  position: relative;
  margin-top: 2rem;
  height: 6rem;
}

.popular-members::before {
  content: "Popular Members";
  color: white;
  position: absolute;
  top: -30px;
}
