/* .high-rated {
  width: 100%;
  height: 7rem;
  background-color: #1c2228;
  margin-top: 20px;
  justify-content: space-between;
} */

.high-rated {
  /* margin-top: 12rem; */
  position: relative;
  background-color: #1c2228;
  border-radius: 10px;
}

.high-rated::before {
  content: "High Rated Movies";
  color: white;
  position: absolute;
  top: -30px;
  left: 20px;
}
