.popular {
  width: 100%;
  height: 7rem;
  background-color: #1c2228;
  margin-top: 3rem;
  justify-content: space-between;
  position: relative;
}

.popular::before {
  content: "Popular movies";
  color: white;
  position: absolute;
  top: -30px;
}
