.jumbotron {
  /* background-image: url(""); */
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  padding-bottom: 10px;
}

.details-container {
  color: white;
}
