.site-offers {
  width: 100%;
  padding: 0;
  background-color: #14181d;

  margin: 20px 0;
}

.inner-items {
  margin-top: 0;
  /* margin-bottom: 1rem; */
  height: 100%;
  margin-left: 65px;
  margin-right: 65px;
  margin-bottom: 65px;
  font-size: small;
  /* padding: 5PX; */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel {
  margin: 2px;
  padding: 2px;
  border-radius: 3px;
}

._panel {
  padding: 1px;
  justify-content: center;
  align-items: center;
}
