img {
  max-width: 250px;
  margin-left: 0;
}

.navbar {
  padding: 0;
  background-color: #14181c !important;
}

.nav-items {
  position: absolute;
  right: 250px;
  font-family: Rubik, sans-serif, bold;
}

.search-bar {
  border-radius: 25px;
  background-color: #b3b9c5;
}

.modal-content {
  background-color: #445566;
  width: 350px;
  font-family: Rubik, sans-serif, semi-bold;
}
